@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "europa" -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  color: #414646;
}

#__next {
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#burger {
  width: 60px;
  height: 45px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#burger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#burger span:nth-child(1) {
  top: 0px;
}

#burger span:nth-child(2) {
  top: 18px;
}

#burger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #A54399;
}

#burger.open span:nth-child(2) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #A54399;
}

.cosmeticLink {
  background: #bab19f;
  background: linear-gradient(45deg, #bab19f 0%, #bab19f 50%, #bcb4a3 50%, #bfb8a7 100%);
}

.footer input, .footer textarea {
  background: none;
  border-bottom: solid thin #89a3af;
  padding: 1rem 0;
  color: white;
}

.footer textarea:focus, .footer input:focus {
  outline: none;
}

p {
  margin-top: 1.25rem;
  font-size: clamp(0.88rem, calc(0.73rem + 0.73vw), 1.25rem);
  font-weight: 300;
}

.oeffnung p {
  margin-top: 0;
}

ul {
  list-style-type: disc;
  padding-top: 1rem;
  padding-left: 2rem;
}

nav ul {
  list-style: none;
}

h2 {
  position: relative;
}

.beforeH::before {
  content: "";
  position: absolute;
  width: .25rem;
  height: 100%;
  background: #d679be;
  left: -2rem;
}

.activeLink {
  font-weight: 800;
  color: #A54399;
  position: relative;
}

.activeSideLink::after {
  content: "-->";
  position: absolute;
  right: 0;
  color: #A54399;
}

.swiper-slide {
  -webkit-transition: all ease-in-out 500;
  transition: all ease-in-out 500;
}

.wordBreak {
  word-wrap: break-word;
}

.activeSideLink {
  position: relative;
  font-weight: 800;
  color: #A54399;
}

.scrollContainer {
  scroll-padding-top: 4rem;
}

html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

.active {
  background: #A54399;
  color: white;
}

.dropdown::before {
  content: "■";
  position: absolute;
  color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 2rem;
  top: 0.4rem;
}

.gradient {
  background: #ff239e;
  background: linear-gradient(45deg, #ff239e 0%, #da2ae9 48%, #d679be 100%);
}

.subNav::before {
  font-family: "Font Awesome 5 Free";
  content: "\f068";
  position: absolute;
  color: #A54399;
  font-size: 1.5rem;
  left: -2rem;
  top: -0.3rem;
}

.activeQuick {
  color: white !important;
  opacity: 1 !important;
  position: relative;
}

.activeQuick::before {
  content: "■";
  position: absolute;
  color: #EEF0F2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 2rem;
  top: -0.25rem;
  right: -2.25rem;
}

.quick {
  -webkit-transition: all ease-in-out 200;
  transition: all ease-in-out 200;
  opacity: 0.2;
  color: #473046 !important;
  cursor: pointer;
}

.quick:hover {
  opacity: 1;
}

.clamp {
  font-size: clamp(0.88rem, calc(0.73rem + 0.73vw), 1.25rem);
}

.is-sticky {
  position: fixed;
  width: 100%;
  z-index: 39;
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  left: 0 !important;
}

.is-sticky img {
  padding-bottom: 1rem;
  height: 5rem;
}

.dateInput {
  padding: 1rem !important;
  font-size: 1rem !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: #A54399;
}

.swiper-pagination-bullet-active {
  background: #A54399 !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}
/*# sourceMappingURL=globals.css.map */